{% extends 'base.html' %}

{% block content %}
<br>
<h1 class="text-center">Welcome to FilmSlate!</h1>
<br>
<div id="trendings" class="row">

</div>

<script>
    fetch("/api/trendings")
    .then(res => res.json())
    .then(data => {
        for (let i=0; i<data.results.length; i++){
            var mainDiv = document.createElement("div");
            mainDiv.setAttribute("class", "card text-black border-secondary");
            mainDiv.setAttribute("style", "width: 18rem; margin: 0 auto 30px; padding: 0px");
            mainDiv.classList.add("image-hover");
            var img = document.createElement("img");
            img.setAttribute("src", "https://image.tmdb.org/t/p/w500" + data.results[i].poster_path);
            img.setAttribute("class", "card-img-top rounded");
            img.setAttribute("alt", "...");
            var body = document.createElement("div");
            var title = document.createElement("h5");
            var text = document.createElement("p");
            var link = document.createElement("a");
            link.setAttribute("href", "/" + data.results[i].media_type + "/" + data.results[i].id + "/");
            link.setAttribute("class", "stretched-link");
            mainDiv.appendChild(link);
            mainDiv.appendChild(img);
            document.getElementById("trendings").appendChild(mainDiv);
        }
    })
</script>
{% endblock %}